# Node modules
backend-31a-abhishekkarky/node_modules/
frontend-31a-abhishekkarky/node_modules/

# Logs
backend-31a-abhishekkarky/logs/
frontend-31a-abhishekkarky/logs/
*.log
npm-debug.log*

# Environment variables
backend-31a-abhishekkarky/.env
frontend-31a-abhishekkarky/.env

# Debugger
backend-31a-abhishekkarky/*.local
frontend-31a-abhishekkarky/*.local

# Production
backend-31a-abhishekkarky/build/
frontend-31a-abhishekkarky/build/
frontend-31a-abhishekkarky/dist/

# Test coverage
backend-31a-abhishekkarky/coverage/
frontend-31a-abhishekkarky/coverage/

# Ignore uploaded files
backend-31a-abhishekkarky/uploads/

# Miscellaneous
.DS_Store
.vscode/
